$main-hsl: 190;

.App {
	display: grid;
	grid-template-columns: minmax(100px, auto) 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
		"nav header header"
		"nav main aside"
		"footer footer footer";
	// grid border color
	background-color: black;
	grid-gap: 1px;

	& header {
		grid-area: header;
		background-color: hsl($main-hsl, 20%, 40%);
	}
	& nav {
		grid-area: nav;
		background-color: hsl($main-hsl, 40%, 40%);
	}
	& main {
		grid-area: main;
		background-color: hsl($main-hsl, 60%, 40%);
	}
	& aside {
		grid-area: aside;
		background-color: hsl($main-hsl, 80%, 40%);
	}
	& footer {
		grid-area: footer;
		background-color: hsl($main-hsl, 100%, 40%);
	}
}